@mixin center($position) {

  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
// *************************
// **********POPUP**********
// *************************

.popup{
  position: absolute;
  align-self: center;
  @include center(horizontal);
  background: #ffffff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  @include transition(all 0.3s ease);
  outline: none;
  bottom: 1%;
  top: 5rem;
  width: 55rem;
  height: 50%;
  padding: 1rem 2rem;
}

.small_popup {
  position: absolute;
  align-self: center;
  @include center(horizontal);
  background: #ffffff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  @include transition(all 0.3s ease);
  outline: none;
  bottom: 1%;
  top: 15rem;
  width: 30rem;
  height: 16rem;
  padding: 1rem 2rem;
}

.mid_popup {
  position: absolute;
  align-self: center;
  @include center(horizontal);
  background: #ffffff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  @include transition(all 0.3s ease);
  outline: none;
  bottom: 1%;
  top: 8rem;
  width: 30rem;
  height: 22rem;
  padding: 1rem 2rem;
}

.popup-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.popup-title{
  font-size: 6rem;
  justify-content: center;
  align-self: center;
}

.popup-close{
  font-size: 6rem;
  align-self: center;
  cursor: pointer;
}

.popup-body{
  margin: 0 2rem;
  font-size: 4.5rem;
}

.popup_background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 900;

}

.popup-bottom {
  padding: 4rem 2rem;

}



// *************************
// **********MODAL**********
// *************************

.modal {
  position: absolute;
  top: -90rem;
  align-self: center;
  @include center(horizontal);
  background: #ffffff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  @include transition(all 0.3s ease);
  outline: none;
  bottom: 1%;
  top: 5rem;
  width: 55rem;
  height: 35rem;
  padding: 2rem 2rem;
  overflow: auto;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 900;
}

