


.large-text {
  font-size: 3rem;
}

.menu-right {
  font-size: 1.3rem;
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.account-name {
  padding: 1rem;
  text-align: center;
  font-size: 6rem;
}

.center {
  text-align: center;
  justify-content: center;

}

.month-info {
  text-align: center;
  justify-content: center;
  display: flex;
}

.month-info-container {
  font-size: 2.5rem;
  padding: 1m;
}
.main-month-name{
  font-size: 6rem;
  padding: 0 1rem;
}

.goto-month-name {
  font-size: 2rem;
  padding: .5rem 1rem 0 1rem;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.category-box {
  border: .1rem solid black;
  margin: 0 2rem 2rem 2rem;
  padding: 1rem;
}

.category-title {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 1rem;
  font-size: 6rem;
}

.category-name {
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.category-info {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.category-value {
  font-size: 4rem;
  text-align: center;
  padding-left: 1rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
}

.input-container-left {
  display: flex;
  justify-content: flex-start;
  padding: .5rem 0;
}

.category-input {
  width: 30rem;
  font-size: 3.5rem;
  border: solid 0.2rem black;
}


.checkbox-popup-fixed {
  padding-left: 9.3rem;
}

.checkbox-popup-repeat {
  padding-left: 7rem;
}

.category-checkbox {
  width: 4.8rem;
  height: 4.8rem;
}

.category-checkbox:checked {
  background-color: #00aaff;
}

.icon-button {
  font-size: 6rem;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  padding-left: .5rem;
}

.icon-button-add {
  font-size: 6rem;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  padding-left: .5rem;
  color: green;
}

.icon-button-delete {
  font-size: 6rem;
  align-self: center;
  cursor: pointer;
  color: red;
}

.icon-button-edit {
  font-size: 5.6rem;
  align-self: center;
  padding-right: 1rem;
  cursor: pointer;
}


.flex {
  display: flex;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.category-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view-expenses {
  padding-top: 1rem;
  text-align: center;
}

.expenses-view-header {
  display: flex;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2rem;
  font-weight: bold;
  justify-content: space-between;
}

.expenses-table {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 0.1rem solid black;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  tr:nth-child(even) {background-color: #f2f2f2;}
  .table-body-name{
    border: 0.5 solid black;
  }
  td {
    font-size: 3.5rem;
    padding: 0.2rem 1rem;
    border: 0.1rem solid black;
  }
  th {
    padding: 1rem;
    border: 0.1rem solid black;
    font-size: 3rem;
  }
  .icon-button-edit {
    font-size: 3rem;
  }
  .icon-button-delete {
    font-size: 3rem;
  }
}

.table-head {
  font-size: 2rem;
}

.table-body-name {
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  .icon-button-edit {
    padding: 0 .25rem;
  }
  .icon-button-delete {
    padding: 0 .25rem;
  }
  .table-name {
    font-weight: bold;
  }
}

.table-body {
  border: 0.1rem solid black;
  border-collapse: collapse;
}

.table-info {
  padding: 0.2rem 1rem;

}

.title {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
}

.space {
  padding: 1rem;
}

.btn-container {
  text-align: center;
  padding: 1rem;
}

.btn-container-small {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}

.btn-delete {
  font-size: 3.5rem;
  padding: 1rem;
  border-radius: .5rem;
}

.btn-cancel {
  font-size: 3.5rem;
  padding: 1rem;
  border-radius: .5rem;
}

.btn-save {
  font-size: 7rem;
  padding: 0.2rem 1rem;
  border-color: green;
  border-radius: .5rem;
  color: white;
  background-color: green;
}

@media only screen and (max-width: 400px) {

  .large-text {
    // font-size: 3rem;
    font-size: 5rem;
  }

}
